@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


html[data-theme='light'] {
  --bg-color: rgb(156, 156, 156);
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='dark'] {
  --bg-color: #000000;
  --text-color: #F7F8F8;
  --link-color: #828fff;
}

body {
  display: flex;
  justify-content: center;align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-color);
}