nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


nav li {
    list-style: none;
    width: 100%;
}

nav li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    line-height: 60px;
}

nav li:hover{
    background-color: rgb(221, 221, 221);
    color: aliceblue;
}