.lastluanch {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 4px;
}

.lastluanch h1 {
    font-size: 30px;
}

.lastluanch_box {
    display: flex;
    justify-content: space-around;
}

.lastluanch_box_img {
    margin-top: 50px;
}

.lastluanch_box_info {
    margin-top: 50px;
    text-align: start;
}


